header {
	background-color: orange;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1 {
	margin-top: 0;
}
main {
	padding-top: 50px;
}
main .row {
	margin-bottom: 20px;
}
.picture {
	height: 300px;
	text-align: center;
	border: solid lightgrey 1px;
	margin-bottom: -5px;
}
.text {
	border: solid lightgrey 1px;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.col-4 {
	margin-bottom: 10px;
}





